* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  padding: 40px 20px;
}

h1, h2 {
  text-align: center;
}

.container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 468px;
  height: 60px;
  background: bisque;
}

.inter {
  width: 320px;
  height: 480px;
  background: bisque;
}

.wide-screen {
  width: 480px;
  height: 270px;
  background: bisque;
}

div.banner-cover {
  background-image: url("../assets/320x50.png");
  background-size: cover;
  background-repeat: no-repeat;
}

div.banner-contain {
  background-image: url("../assets/320x50.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

div.banner-stretch img {
  width: 100%;
  height: 100%;
}

div.banner-center {
  display: flex;
  justify-content: center;
}

div.with-padding {
  padding: 5px;
}

div.banner-big-background-cover {
  background-image: url("../assets/728x90.png");
  background-size: cover;
  background-repeat: no-repeat;
}

div.banner-big-background-contain{
  background-image: url("../assets/728x90.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.inter-center, .wide-screen-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inter-cover {
  background-image: url("../assets/300x250.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.inter-cover-center {
  background-image: url("../assets/300x250.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.inter-contain-center {
  background-image: url("../assets/300x250.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wide-screen-contain {
  background-image: url("../assets/250x250.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.wide-screen-cover {
  background-image: url("../assets/250x250.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wide-screen-default-center {
  text-align: center;
}





